
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>node_mongodb</title>

		<link rel="stylesheet" href="dist/styles/css/styles.css">

		<script src="vendor/jquery.min.js"></script>
	</head>
	<body>
		<div class="container">
			<!-- <h1><%= title %></h1> -->
			<header>
				<section class="gc">
					<h1>node_mongodb</h1>
				</section>
			</header>

			<section class="gc">
				<div class="save-item">
					
					<div class="upload-image-wrapper">
						<input type="file" class="input-hidden-camera" capture="camera" accept="image/*" id="cameraInputCatch">
						<label for="cameraInputCatch" class=" image-preview">
							<span class="image-info">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32"><path d="M0 28h32v2h-32zM32 24v2h-32v-2l4-8h8v4h8v-4h8zM7 10l9-9 9 9h-7v8h-4v-8z"></path></svg>
							</span>
							<img src="#" class="preview-0 js-save-catch"/>
						</label>
					</div>
					<form action="/catches" method="POST">
						<input type="hidden" id="input-camera" name="catchImage">
						<div class="input-wrapper">
							<label>Type:</label>
							<input type="text" placeholder="type" name="type">
						</div>
						<div class="input-wrapper">
							<label>Weight:</label>
							<input type="number" placeholder="size weight" name="weight" min="0.0" step="0.1" max="30" >
						</div>
						<div class="input-wrapper">
							<label>Length:</label>
							<input type="number" placeholder="size length" name="length" min="0.0" step="0.5" max="300" >
						</div>
						<button type="submit" class="btn-submit">Submit</button>
					</form>
				</div>
			</section>

			<section class="stored-items">
				<% for(var i=0; i<catches.length; i++) {%>
				<div class="item col-12x3" data-item-id="<%= catches[i].itemId %>">
					<img src="<%= catches[i].catchImage%>"/>
					<div class="info-wrapper">
						<div>
							<label>Type:</label>
							<input type="text" class="text-type" value="<%= catches[i].type %>">
						</div>
						<div>
							<label>Weight:</label> 
							<input type="text" class="input-weight" value="<%= catches[i].weight %>">
						</div>
						<div>
							<label>Length:</label> 
							<input type="text" class="input-length" value="<%= catches[i].length %>">
						</div>

						<button type="button" class="btn-update">Update</button>
					</div>
					<div class="more-info">
						<button class="btn-delete" data-catch-id="<%= catches[i]._id %>"> Delete this catch </button>
					</div>
				</div>
				<% } %>
			</section>


			<section class="gc">
				<p><button id="deleteAll" class="btn-delete-all"> Delete all records </button></p>
			</section>
<!-- 
			<section class="gc">
				<form action="/catches" method="POST">
					<input type="text" placeholder="name" name="name">
					<input type="text" placeholder="quote" name="quote">
					<button type="submit" class="btn-submit">Submit</button>
				</form>
			</section> -->

			<div class="overlay-wrapper">
				<div class="overlay-container">
					<button class="btn-close">Close</button>
					<div class="confirm-box">
						<h2>It will delete all records, are you sure?</h2>
						<button class="btn-true" data-confirm="true">Yes</button>
						<button class="btn-false" data-confirm="false">No, Cancel</button>
					</div>
				</div>
			</div>
		</div>
		<script src="main.js"></script>
	</body>
</html>
